main{
  display: flex;
  flex-wrap: wrap;
  padding: 10em 0em;
}

#entrada{
  min-width: 250px;
  margin: 0 auto;
}

#button{
  padding: 0em 27em;
  display: flex;
  flex-wrap: wrap;
}


#conteiner-footer{
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
}
   