/* celular 600px*/
  @media (max-width: 600px) {
    /*logo*/
      #conteiner #logo{
        top: 20px;
        right: 20px;
        position: absolute;
        height: 48px;
        width: 120px;
      }
      #conteiner #logo img{
        height: 100em;
        width: 100em;
        margin: 20px 20px;
      }

      .titulo{
        top: -38px;
        right: 255px;
        position: absolute;
        margin: -38px 255px 10px;
      }
    
    /*textarea*/
      textarea{
        display: none;
      }





  }

/*tablet 768px*/
  @media (max-width: 768px) {
    body{
      display: none;
    }
  }

/*laptops 992px*/
  @media (max-width: 992px) {
    body{
      display: none;
    }
  }

/*large 1200px*/
  @media (max-width: 1200px) {
    body{
      display: none;
    }
  }
