/* celular 600px*/
  @media (max-width: 600px) {
      body{
        background-color: #F3F5FC;
        height: 100em;
        width: 100%;
        overflow: hidden;
      }
    /*logo*/
      #conteiner #logo{
        display: none;
      }
      #conteiner #logo img{
        display: none;
      }
      .titulo{
       display: none;
      }

    /*textarea*/
      .entrada{
        top: -5em;
        right: 5em;
        position: absolute;
        margin-top: 102px;
        text-align: center;
      }
      
      textarea{
        width: 450px;
        height: 400px;
        padding: 40px;
        text-align: center;
        font-size: 20px;
        background-color: #FFFFFF;
        border-radius: 30px;
      }
      
    /*caja de mensaje*/
      #mensaje{
        top: 47em;
        right: -5em;
        position: absolute;
        background-color: #FFFFFF;
        width: 450px;
        height: 150px;
        border-radius: 30px;
      }
      #mensaje .Muneco img{
        display: none;
      }
      #mensaje h2{
       top: 20em;
       right: 20em;
       position: absolute;
       display: none;
      }
      #mensaje .text-mensaje{
        top: -75px;
        position: absolute;
        font-size: 20px;
        text-align: center;
      }

    /*button*/
      #button{
        top: 40em;
        right: -6em;
        position: absolute;
      }
      #button .icon {
        top: -8em;
        right: 5em;
        position: absolute;
        width: 300px;
        height: 300px;
      } 
      #button .button-e{
        top: -25px;
        right: 10em;
        position: absolute;
        display: block;
      }
      #button .button-d{
        top: 10em;
        right: 10em;
        position: absolute;
        display: block;
      }
      #mensaje .button-copiar{
        top: 11em;
        right: 8em;
        position: absolute;
      }

    /*footer*/
      #conteiner-footer{
        top: 51em;
        right: 4em;
        position: absolute;
        writing-mode: horizontal-tb;
      }
      .container_redes-footer{
        top: -11em;
        right: 10em;
        position: absolute;
      }
      #conteiner-footer .container_text--foote{
        top: -10em;
        right: 15em;
        position: absolute;
        text-overflow: ellipsis;
      }
      #conteiner-footer .img-icon-github{
        top: 10em;
        right: -19em;
        position: absolute;
        width: 50px;
        height: 50px;
        z-index: 1;
      }
      #conteiner-footer .img-icon-linkedin{
        top: 10em;
        right: -14em;
        position: absolute;
        width: 50px;
        height: 50px;
        z-index: 1;
      }

  }

/*tablet 768px*/
  @media (max-width: 768px) {
    body{
      display: block;
    }
  }

/*laptops 992px*/
  @media (max-width: 992px) {
    body{
      display: block;
    }
  }

/*large 1200px*/
  @media (max-width: 1200px) {
    body{
      display: block;
    }
  }
