/*formateo*/
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-color: rgb(107, 107, 106);
  }

  main{
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
  }

  #entrada{
    min-width: 250px;
    margin: 0 auto;
  }

  #button{
    display: flex;
    flex-wrap: wrap;
  }

  #conteiner-footer{
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
  }