#area-para-la-definicion {
  background-color: rgba(45, 45, 45, 1);
  border-radius: 10px;
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
}

#area-para-la-definicion .section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#area-para-la-definicion .title {
  color: #ff0000;
  margin: 1em;
  font-size: larger;
}

#area-para-la-definicion .text {
  max-width: max-content;
  margin: 1em;
  font-size: large;
  color: white;
}

#area-para-la-definicion .icon {
  margin: 1em;
  font-size: 1.7em;
  color: black;
}

#area-para-la-definicion .icon:hover {
  color: white;
}
