body{
  margin: 25px 18px;
}

main{
  justify-content: center;
  flex-direction: row;
  padding: 0;
}

#entrada, #mensaje{
  margin: 0 auto;
  padding: 0px;
}

#entrada, #mensaje .output-texto{
  margin: 0 auto;
  background: none;
  text-align: center;
  padding: 2px;
}

#entrada .icon{
  margin: 5px;
}

#button{
  padding: 0em;
}

#button .button-e{
  margin-top: 0em;
  margin-left: 2em;
  padding: 0em;
  display: flex;
}

#button .button-d{
  margin-top: 0em;
  margin-left: 5em;
  padding: 0em;
  display: flex;
}

.button-copiar{
  margin-top: 1em;
  margin-left: 4em;
  padding: 0em;
  display: flex;
}


#conteiner-footer{
  font-size: 14px;
  margin-top: -1em;
  margin-left: 9em;
  text-align: center;
  padding: 30px;
}

#conteiner-footer img{
  width: 2em;
  height: 2em;
}
