
  body{
    background-image: url(../wallpaper/en-mantenimiento.png);  
    display: flex;
    background-repeat: no-repeat;
    background-size: 90%;
    justify-content: center;
    align-items: center;
  }

  #entrada{
    display: none;
  }

  #mensaje{
    display: none;
  }

  #conteiner-footer{
    display: none;
  }
