/* textarea */

  #entrada{
    width: 100%;
    height: auto;
  }

  #entrada .output-texto{
    width: 100%;
    height: auto;
    margin: 20px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
  }

  #entrada .icon{
    width: 100%;
  }

  #entrada #button{
    margin: 10px;
  }

/* caja de mensaje */

  #mensaje{
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
  }

  #mensaje .output-texto{
    width: 100%;
    height: auto;
    margin: 20px;
    padding: 5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
  }

/* footer */

  #conteiner-footer{
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
  }

  #conteiner-footer .container-text--footer{
    width: 100%;
  }

  #conteiner-footer .container_redes-footer img{
    width: 50px;
    height: 50px;
  }